body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    text-align: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

input[type="number"] {
    padding: 5px;
    font-size: 16px;
}

input[type="submit"], #solve-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover, #solve-button:hover {
    background-color: #0056b3;
}

#solve-button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

#matrix-container {
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Estilo para resaltar el resultado */
#result {
    font-size: 24px;
    font-weight: bold;
    color: green;
    margin-top: 20px;
}